.draggable-dashboard{
  flex-wrap: wrap;
  .draggable-dashboard-column{
    box-sizing: border-box;
  }
  #column-1{
    width: 100%;
  }
  #column-2{
    width: 100%;
  }
  @media screen and (min-width: 1024px){
    #column-1{
      width: 70%;
    }
    #column-2{
      width: 30%;
    }
  }
}

.view-google-analytics-reports-page{
  // Top 10 pages
  &.view-display-id-block_2{
    .view-content{
      overflow: scroll;
    }
    .views-table,
    tbody,
    tr {
      max-width: 100%;
      overflow: hidden;
    }
    tbody{
      max-width: 100%;
      .views-field-pagePath{
        width: 75%;
      }
      .draggable-dashboard{
        width: 25%;
      }
    }
  }
}