{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - block.subject: Block title.
 * - content: Block content.
 * - block.module: Module that generated the block.
 * - block.delta: An ID for the block, unique within each module.
 * - block.region: The block region embedding the current block.
 * - classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable classes_array from
 *   preprocess functions. The default values can be one or more of the following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user module
 *     is responsible for handling the default user navigation block. In that case
 *     the class would be "block-user".
 * - title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable classes.
 * - block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - zebra: Same output as block_zebra but independent of any block region.
 * - block_id: Counter dependent on each block region.
 * - id: Same output as block_id but independent of any block region.
 * - is_front: Flags true when presented in the front page.
 * - logged_in: Flags true when the current user is a logged-in member.
 * - is_admin: Flags true when the current user is an administrator.
 * - block_html_id: A valid HTML ID and guaranteed unique.
 * - content_attributes: Raw HTML attributes for block content.
 * - title_attributes: Raw HTML attributes for the block title tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see template_process()
 */
#}
{% if block.delta != 'main' %}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {% endif %}

  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if content_attributes|length %}
  <div {{ content_attributes }}>
    {% endif %}

    {% block content %}
    <div class="logo-wrapper"><a href="https://outdoor.placora.be" class="link-website">
<svg width="90px" height="135px" viewBox="0 0 90 135" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="footer" transform="translate(-135.000000, -246.000000)">
            <g id="Group-6" transform="translate(135.000000, 246.000000)">
                <polygon id="Fill-1" fill="#84C59C" points="44.9993585 0 0 26.1416185 0.000641528263 108.858382 45 135 90.0006415 108.858382 90 26.1416185"></polygon>
                <g id="Group-3" transform="translate(24.000000, 26.000000)" fill="#FFFFFF">
                    <polygon id="Fill-1" points="29 28.25 29 18.75 20.5001212 14 12 18.75 12 28.25 20.5001212 33"></polygon>
                    <path d="M21,0 L0,11.7501161 L0,35.2498839 L21,47 L42,35.2498839 L42,11.7501161 L21,0 Z M6.46817248,31.6308918 L6.46817248,15.3693404 L21,7.23821638 L35.5318275,15.3693404 L35.5318275,31.6308918 L21,39.7617836 L6.46817248,31.6308918 Z" id="Fill-2"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
    </a>
    </div>
    <div class="text-wrapper">
    <a href="https://outdoor.placora.be">
  <h3>neem een kijkje bij</h3>
  <h3><b>placora outdoor</b></h3>
      </a>
  </div>
    {% endblock %}

    {% if content_attributes|length %}
  </div>
  {% endif %}

  {% if block.delta != 'main' %}
</section>
{% endif %}
