{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">

<svg width="195px" height="69px" viewBox="0 0 195 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0 68.9222463 194.844513 68.9222463 194.844513 0 0 0"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="menu" transform="translate(-134.000000, -44.000000)">
            <g id="Group-21" transform="translate(134.000000, 44.000000)">
                <g id="Group-20">
                    <path d="M18.4024579,41.3811537 C18.4024579,37.7697246 15.5228724,34.8802209 11.9684842,34.8802209 C8.41332632,34.8802209 5.48883947,37.7697246 5.48883947,41.3811537 C5.48883947,44.9925828 8.41332632,47.8820866 11.9684842,47.8820866 C15.5228724,47.8820866 18.4024579,44.9925828 18.4024579,41.3811537 L18.4024579,41.3811537 Z M0.000102631579,30.0028478 L5.84881974,30.0028478 L5.84881974,32.4415343 C7.64897763,30.6349187 10.0785237,29.5520306 13.0476553,29.5520306 C19.1673197,29.5520306 24.2065303,34.7888216 24.2065303,41.3811537 C24.2065303,47.9721985 19.1673197,53.2102769 13.0476553,53.2102769 C10.0785237,53.2102769 7.64897763,52.1255866 5.84881974,50.3210306 L5.84881974,63.1431873 L0.000102631579,63.1431873 L0.000102631579,30.0028478 Z" id="Fill-1" fill="#000000"></path>
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-4"></g>
                    <polygon id="Fill-3" fill="#000000" mask="url(#mask-2)" points="28.8171513 52.7579664 34.6212237 52.7579664 34.6212237 17.9938097 28.8171513 17.9938097"></polygon>
                    <path d="M57.9278803,41.3354026 C57.9278803,37.7239735 55.0931961,34.8344698 51.4939066,34.8344698 C47.8494592,34.8344698 45.0145184,37.7239735 45.0145184,41.3354026 C45.0145184,44.9468317 47.8494592,47.8821638 51.4939066,47.8821638 C55.0931961,47.8821638 57.9278803,44.9468317 57.9278803,41.3354026 M39.1658013,41.3354026 C39.1658013,34.7446153 44.2501697,29.4619959 50.3693211,29.4619959 C53.6086303,29.4619959 56.0835908,30.6349959 57.7480184,32.5770369 L57.7480184,30.0026675 L63.5975053,30.0026675 L63.5975053,52.7579922 L58.1534132,52.7579922 L58.0181961,49.8244623 C56.3083539,51.9462123 53.7435908,53.2103541 50.3693211,53.2103541 C44.2501697,53.2103541 39.1658013,47.9720183 39.1658013,41.3354026" id="Fill-5" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M68.0518697,41.3811537 C68.0518697,34.7888216 73.2260408,29.5520306 80.0651526,29.5520306 C81.7752513,29.5520306 83.4396789,29.9129933 84.8793434,30.5450642 L84.8793434,37.0918254 C83.7545013,35.7375716 82.0446592,34.8802209 80.0651526,34.8802209 C76.3755474,34.8802209 73.6758237,37.7697246 73.6758237,41.3811537 C73.6758237,44.9925828 76.3755474,47.8362582 80.0651526,47.8362582 C82.0446592,47.8362582 83.7545013,46.9789075 84.8793434,45.6704821 L84.8793434,52.2172433 C83.4396789,52.8493142 81.7752513,53.2102769 80.0651526,53.2102769 C73.2260408,53.2102769 68.0518697,47.9721985 68.0518697,41.3811537" id="Fill-6" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M106.571657,41.3811537 C106.571657,37.8140082 103.737486,35.014359 100.272643,35.014359 C96.6728408,35.014359 93.8389263,37.8140082 93.8389263,41.3811537 C93.8389263,44.9470119 96.6728408,47.7922321 100.272643,47.7922321 C103.737486,47.7922321 106.571657,44.9470119 106.571657,41.3811537 M88.2596171,41.3811537 C88.2596171,34.7888216 93.4335316,29.5520306 100.272643,29.5520306 C107.021696,29.5520306 112.241282,34.7888216 112.241282,41.3811537 C112.241282,47.9721985 107.021696,53.2102769 100.272643,53.2102769 C93.4335316,53.2102769 88.2596171,47.9721985 88.2596171,41.3811537" id="Fill-7" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M122.641401,42.6896049 L122.641401,52.7579407 L116.837329,52.7579407 L116.837329,30.0028735 L122.641401,30.0028735 L122.641401,33.2093138 C123.991776,30.9060526 125.880711,29.5520563 128.760296,29.5520563 C129.030474,29.5520563 129.300651,29.5520563 129.570059,29.5976272 L129.570059,35.3310638 C126.106243,34.6531646 122.641401,36.0529892 122.641401,42.6896049" id="Fill-8" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M150.362216,41.3354026 C150.362216,37.7239735 147.527276,34.8344698 143.928243,34.8344698 C140.283539,34.8344698 137.448855,37.7239735 137.448855,41.3354026 C137.448855,44.9468317 140.283539,47.8821638 143.928243,47.8821638 C147.527276,47.8821638 150.362216,44.9468317 150.362216,41.3354026 M131.600138,41.3354026 C131.600138,34.7446153 136.684506,29.4619959 142.803401,29.4619959 C146.04271,29.4619959 148.517927,30.6349959 150.182355,32.5770369 L150.182355,30.0026675 L156.031841,30.0026675 L156.031841,52.7579922 L150.587749,52.7579922 L150.452532,49.8244623 C148.74269,51.9462123 146.17767,53.2103541 142.803401,53.2103541 C136.684506,53.2103541 131.600138,47.9720183 131.600138,41.3354026" id="Fill-9" fill="#000000" mask="url(#mask-2)"></path>
                    <polygon id="Fill-10" fill="#F2D107" mask="url(#mask-2)" points="181.448116 31.1252821 181.448116 20.7232746 172.470675 15.5220134 163.492978 20.7232746 163.492978 31.1252821 172.470675 36.3262858"></polygon>
                    <polygon id="Fill-11" fill="#F2D107" mask="url(#mask-2)" points="172.470341 51.848119 163.493157 46.6463429 163.493157 38.921175 172.470341 44.1219213 188.176309 35.0229325 188.177078 16.8249549 172.470341 7.72596604 156.764374 16.8249549 156.764374 22.4154996 150.096914 22.4154996 150.096914 12.9619847 172.470341 2.57462687e-05 194.844539 12.9619847 194.843769 38.8859026"></polygon>
                    <path d="M78.1186934,68.3898392 C78.0235026,68.6902981 77.9144566,68.8406563 77.5472921,68.8406563 C77.1665289,68.8406563 77.0436276,68.6902981 76.9758908,68.3898392 L74.8393579,60.3745108 C74.8257592,60.2797646 74.7988184,60.1703429 74.7988184,60.0887272 C74.7988184,59.9514996 74.8801539,59.8158168 75.2065224,59.8158168 C75.50595,59.8158168 75.6280816,59.9236937 75.6965882,60.211022 L77.6019434,67.7070481 L79.9150026,60.6618392 C79.9963382,60.3745108 80.132325,60.2241526 80.4725487,60.2241526 C80.8127724,60.2241526 80.9356737,60.3745108 81.0308645,60.6618392 L83.2625882,67.7070481 L85.2492789,60.211022 C85.3167592,59.938369 85.41195,59.8158168 85.7116342,59.8158168 C86.0110618,59.8158168 86.0926539,59.938369 86.0926539,60.0887272 C86.0926539,60.1703429 86.0785421,60.2797646 86.0518579,60.3745108 L83.8606737,68.3898392 C83.7793382,68.6902981 83.6572066,68.8406563 83.2892724,68.8406563 C82.9223645,68.8406563 82.7994632,68.6902981 82.7042724,68.3898392 L80.4594632,61.3448877 L78.1186934,68.3898392 Z" id="Fill-12" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M92.7950605,68.185697 C94.8086921,68.185697 96.1287908,66.6568836 96.1287908,64.3209246 C96.1287908,61.9867679 94.8086921,60.457697 92.7950605,60.457697 C90.7806592,60.457697 89.4613303,61.9867679 89.4613303,64.3209246 C89.4613303,66.6568836 90.7806592,68.185697 92.7950605,68.185697 M92.7950605,59.7195515 C95.3392974,59.7195515 97.013475,61.5490813 97.013475,64.3209246 C97.013475,67.0927679 95.3392974,68.9220403 92.7950605,68.9220403 C90.2500539,68.9220403 88.5902447,67.0927679 88.5902447,64.3209246 C88.5902447,61.5490813 90.2500539,59.7195515 92.7950605,59.7195515" id="Fill-13" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M101.947462,64.6490866 C103.838962,64.6490866 104.764443,63.8702619 104.764443,62.5600343 C104.764443,61.1669037 103.72966,60.5247918 102.164785,60.5247918 C101.852272,60.5247918 101.498193,60.5525978 101.171824,60.6066649 L101.171824,64.6084075 C101.416857,64.6344112 101.70243,64.6490866 101.947462,64.6490866 M106.138166,68.5954746 C106.138166,68.7458328 106.02989,68.8274485 105.757403,68.8274485 C105.403324,68.8274485 105.281193,68.7048963 105.104666,68.4306985 L102.899627,65.3043291 C102.600199,65.3450082 102.273574,65.3728142 101.919752,65.3728142 C101.770936,65.3728142 101.375805,65.359941 101.171824,65.3318776 L101.171824,68.458247 C101.171824,68.7048963 101.035837,68.8274485 100.763094,68.8274485 C100.491377,68.8274485 100.35539,68.7048963 100.35539,68.458247 L100.35539,60.5657284 C100.35539,60.2112022 100.35539,60.0330381 100.831344,59.9107433 C101.157969,59.8288701 101.716285,59.788191 102.178384,59.788191 C104.246666,59.788191 105.648357,60.7160866 105.648357,62.5322284 C105.648357,63.7883888 104.967653,64.6900231 103.72966,65.1132918 L105.893134,68.1302396 C106.083515,68.3897619 106.138166,68.486053 106.138166,68.5954746" id="Fill-14" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M115.142497,68.6086052 C115.142497,68.7458328 115.047306,68.827706 114.720681,68.827706 C114.448964,68.827706 114.285266,68.7589634 114.054345,68.4713776 L110.054023,64.2523366 L110.054023,68.458247 C110.054023,68.7048963 109.917266,68.827706 109.645293,68.827706 C109.35972,68.827706 109.223734,68.7048963 109.223734,68.458247 L109.223734,60.1833963 C109.223734,59.9382918 109.35972,59.815997 109.645293,59.815997 C109.917266,59.815997 110.054023,59.9382918 110.054023,60.1833963 L110.054023,64.0350381 L114.027405,60.1295866 C114.230872,59.9107433 114.394569,59.815997 114.666543,59.815997 C114.952115,59.815997 115.061161,59.8976127 115.061161,60.0330381 C115.061161,60.1705231 114.93903,60.3208813 114.816128,60.4431761 L110.951536,64.1297843 L114.898234,68.185594 C115.061161,68.3488254 115.142497,68.486053 115.142497,68.6086052" id="Fill-15" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M121.003453,68.3898392 C120.908262,68.6902981 120.798959,68.8406563 120.431795,68.8406563 C120.051032,68.8406563 119.928387,68.6902981 119.86065,68.3898392 L117.724117,60.3745108 C117.710262,60.2797646 117.683578,60.1703429 117.683578,60.0887272 C117.683578,59.9514996 117.764913,59.8158168 118.091025,59.8158168 C118.390709,59.8158168 118.512841,59.9236937 118.581347,60.211022 L120.486446,67.7070481 L122.799762,60.6618392 C122.880841,60.3745108 123.017084,60.2241526 123.357308,60.2241526 C123.697275,60.2241526 123.820433,60.3745108 123.915624,60.6618392 L126.147347,67.7070481 L128.134038,60.211022 C128.201518,59.938369 128.296709,59.8158168 128.596393,59.8158168 C128.895821,59.8158168 128.977157,59.938369 128.977157,60.0887272 C128.977157,60.1703429 128.963301,60.2797646 128.936617,60.3745108 L126.745433,68.3898392 C126.664097,68.6902981 126.541966,68.8406563 126.174032,68.8406563 C125.807124,68.8406563 125.683966,68.6902981 125.588775,68.3898392 L123.344222,61.3448877 L121.003453,68.3898392 Z" id="Fill-16" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M136.277931,63.7605571 C136.522964,63.7605571 136.645865,63.8846541 136.645865,64.130016 C136.645865,64.3766653 136.522964,64.4989601 136.277931,64.4989601 L133.012451,64.4989601 L133.012451,68.0074041 L136.931437,68.0074041 C137.17647,68.0074041 137.298602,68.1302138 137.298602,68.3768631 C137.298602,68.6363854 137.17647,68.7589377 136.931437,68.7589377 L132.644773,68.7589377 C132.332003,68.7589377 132.196273,68.6217101 132.196273,68.3081205 L132.196273,60.3337287 C132.196273,60.0201392 132.332003,59.8829116 132.644773,59.8829116 L136.795707,59.8829116 C137.04074,59.8829116 137.162615,60.0070086 137.162615,60.2521131 C137.162615,60.5118929 137.04074,60.6341877 136.795707,60.6341877 L133.012451,60.6341877 L133.012451,63.7605571 L136.277931,63.7605571 Z" id="Fill-17" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M145.322852,65.4823388 L143.595049,60.8809657 L141.839536,65.4823388 L145.322852,65.4823388 Z M147.33751,68.5809022 C147.33751,68.731003 147.242063,68.8275515 146.955464,68.8275515 C146.656806,68.8275515 146.534161,68.7178724 146.452569,68.486156 L145.595339,66.2189396 L141.553707,66.2189396 L140.682878,68.486156 C140.587688,68.7178724 140.478385,68.8275515 140.179727,68.8275515 C139.90724,68.8275515 139.811793,68.731003 139.811793,68.5809022 C139.811793,68.486156 139.852589,68.3489284 139.893385,68.2670552 L143.023648,60.2651149 C143.159378,59.9237194 143.295622,59.8014246 143.621734,59.8014246 C143.935273,59.8014246 144.085115,59.9237194 144.20699,60.2651149 L147.269003,68.2670552 C147.295688,68.3489284 147.33751,68.486156 147.33751,68.5809022 L147.33751,68.5809022 Z" id="Fill-18" fill="#000000" mask="url(#mask-2)"></path>
                    <path d="M152.026978,64.6490866 C153.918478,64.6490866 154.843958,63.8702619 154.843958,62.5600343 C154.843958,61.1669037 153.809432,60.5247918 152.2443,60.5247918 C151.931787,60.5247918 151.577708,60.5525978 151.251596,60.6066649 L151.251596,64.6084075 C151.496372,64.6344112 151.781945,64.6490866 152.026978,64.6490866 M156.217938,68.5954746 C156.217938,68.7458328 156.109662,68.8274485 155.836918,68.8274485 C155.482839,68.8274485 155.360708,68.7048963 155.184182,68.4306985 L152.979399,65.3043291 C152.679714,65.3450082 152.353346,65.3728142 151.999524,65.3728142 C151.850451,65.3728142 151.455576,65.359941 151.251596,65.3318776 L151.251596,68.458247 C151.251596,68.7048963 151.115353,68.8274485 150.842866,68.8274485 C150.570892,68.8274485 150.435162,68.7048963 150.435162,68.458247 L150.435162,60.5657284 C150.435162,60.2112022 150.435162,60.0330381 150.911116,59.9107433 C151.237484,59.8288701 151.796057,59.788191 152.258155,59.788191 C154.326438,59.788191 155.727872,60.7160866 155.727872,62.5322284 C155.727872,63.7883888 155.047425,64.6900231 153.809432,65.1132918 L155.972905,68.1302396 C156.163287,68.3897619 156.217938,68.486053 156.217938,68.5954746" id="Fill-19" fill="#000000" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
