// Non-modular or client styles for .l-footer region.
footer#footer {
  @include grid-row();
  @include grid-col-gutter();
  padding-top: 20px;
  @include breakpoint(largemin) {
    padding-top: 50px;
  }
  @include breakpoint(mediumplus down) {
    text-align: center;
  }
  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(mediumplus) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      // @include breakpoint(smallplus){
      //   padding-right: 15px;
      //   text-align: right;
      // }
      // @include breakpoint(mediumplus) {
      //   padding-right: 30px;
      // }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .main-contact-data {
    >.field {
      padding-right: 12px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 4px;
        background-color: $black;
        position: absolute;
        top: 10px;
        right: 3px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .field-name-field-company-name {
      font-weight: $global-weight-bold;
    }
    .field-wrapper {
      .base-contact-fields {
        display: flex;
        p {
          padding-right: 12px;
          position: relative;
          &::after {
            content: "";
            display: block;
            height: 1px;
            width: 4px;
            background-color: $black;
            position: absolute;
            top: 10px;
            right: 3px;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  .field-name-field-extra-main-contact-fields {
    >.field-items {
      >.field-item {
        display: inline-block;
        padding-right: 12px;
        position: relative;
        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 4px;
          background-color: $black;
          position: absolute;
          top: 10px;
          right: 3px;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .block-social {
    .linkicon {
      display: block;
      li {
        display: inline-block;
        margin: 0 4px;
        position: relative;
        z-index: 1;
        a {
          display: block;
          width: 41px;
          height: 46px;
          background-image: url("../images/fill-yellow.svg");
          background-repeat: no-repeat;
          background-position: center;
          color: $black;
          background-size: contain;
          font-size: rem-calc(28);
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}



.block-base-footer {
  @include breakpoint(mediumplus down) {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  ul.menu {
    display: block;
    margin: 0;
    @include breakpoint(largemin) {
      margin: 2px -5px 0;
    }
    &>li {
      margin-right: 0;
      a {
        padding: 0 5px;
        text-transform: lowercase;
        position: relative;
        color: $black;
        &:focus, &:hover {
          color: $primary-color;
        }
        &::after {
          content: "";
          display: block;
          height: 13px;
          width: 1px;
          background-color: $black;
          position: absolute;
          top: 1px;
          right: -2px;
          transform: rotate(22deg);
        }
      }
      &:last-child {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}



.region-footer_first {
  text-align: center;
  margin-bottom: 30px;
}
.region-footer_middle {
  text-align: center;
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $primary-color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.region-footer_last {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  @include breakpoint(mediumplus down) {
    flex-direction: column-reverse;
  }
  >section {
    width: 100%;
    @include breakpoint(largemin) {
      width: 50%;
    }
  }
  .block-contact {
    @include breakpoint(mediumplus down) {
      margin: 27px 0;
    }
  }
}

.block-footerbottom {
  @include breakpoint(largemin) {
    text-align: right;
  }
}

.block-placoralink {
  margin-bottom: 15px;
        transition: 0.3s ease;
        &:hover {
          //margin-top: -15px;
        }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
  .logo-wrapper {
    a{
      svg{
    margin-bottom: -45px;
    transition: 0.3s ease;
      }
    }
  }
  .text-wrapper {
    padding-left: 20px;
    text-align: left;
    a{
      color: black;
    }
    h3 {
      margin: 0;
      font-weight: $global-weight-normal;
      font-size: rem-calc(13);
    }
  }
}
