// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
    @include breakpoint(mediumplus down) {
      padding: 0 30px;
    }
  }

  .block-base-branding {
    position: relative;
    z-index: 99;
    svg {
      @include breakpoint(mediumplus down) {
        max-width: 160px;
      }
    }
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 14px;
  align-items: flex-end;
  @include breakpoint(largemin) {
    align-items: center;
    padding: 42px 0 30px;
  }
}

.block-system-branding-block,
.block-base-main-menu {
  @include grid-col-gutter();
}

.block-nav-toggle {
  background-image: url("../images/fill-yellow.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 42px;
  padding: 15px 9px;
  position: relative;
  text-align: center;
  width: 42px;
  height: 49px;
  margin-right: 15px;
  &::after {
    content: "";
    display: block;
    background-color: $primary-color;
    height: 65px;
    width: 42px;
    position: absolute;
    top: -52px;
    left: 0;
  }
  .menu-button {
    margin: auto;
    &.is-active {
      .burger-icon::before {
        transform: translateY(6px) rotate(45deg);
      }
      .burger-icon::after {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
  .burger-icon, .burger-icon::before, .burger-icon::after {
    width: 20px;
  }
  .burger-icon::before {
    top: -6px;
  }
  .burger-icon::after {
    top: 6px;
  }
}
.overflow-hidden {
  .block-base-branding {
    svg {
      path, polygon {
        fill: $white;
      }
    }
  }
  .block-nav-toggle {
    background-image: url("../images/fill-white.svg");
    &::after {
      background-color: $white;
    }
  }
}

.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}


.block-base-main-menu {
  padding-top: 27px;
  ul.menu {
    display: block;
    &>li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      &>a {
        color: $body-font-color;
        text-transform: uppercase;
        font-weight: $global-weight-normal;
        padding: 16px 0px;
        position: relative;
        background-color: transparent;
        letter-spacing: 1px;
        &::after {
          transition: color .25s ease-out;
          content: "";
          display: block;
          width: 11px;
          height: 14px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
          background-image: url("../images/fill-yellow.svg");
          background-size: 11px;
        }
        &.is-active {
          font-weight: $global-weight-bold;
        }
        &:hover, &.is-active {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

/////mobile

.block-mainnavigation {
  width: 100%;
  padding: 0 62px;
  ul.menu {
    li {
      a {
        color: $body-font-color;
        text-transform: uppercase;
        font-weight: $global-weight-normal;
        padding: 16px 0px;
        position: relative;
        background-color: transparent;
        letter-spacing: 1px;
        font-size: rem-calc(18);
        &::after {
          transition: color .25s ease-out;
          content: "";
          display: block;
          width: 11px;
          height: 14px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
          background-image: url("../images/fill-white.svg");
          background-size: 11px;
        }
        &.is-active {
          font-weight: $global-weight-bold;
        }
        &:hover, &.is-active {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.region-meta_header{
  max-width: $global-width;
  margin: 0 auto;
  width: 100%;
  max-height: 50px;
  .block-placoralink{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0px;
    &:hover{
      .logo-wrapper {
        transform: rotate(180deg) scale(0.5);
      }
    }
  }
  .logo-wrapper{
    transform: rotate(180deg)scale(0.4);
    margin-top: -22Px;
    margin-left: -26px;
    transition: 0.3s ease;
    svg{

    }
  }
  .text-wrapper{
    padding-left: 0px!important;
    padding-top: 10px;
  }
}
