.region-right_off_canvas {
	padding-top: 71.2px;
	display: flex;
	align-items: center;
	height: 100%;
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}

///
.off-canvas {
	background: $primary-color;
	box-shadow: none !important;
}