// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

.overflow-hidden {
  overflow: hidden!important;
}

body {
  font-size: rem-calc(13);
}
h1 {
  font-weight: $global-weight-normal;
  font-size: rem-calc(13);
}
h2, h3 {
  font-weight: $global-weight-bold;
  font-size: 27px;
  line-height: 1.11;
}
a {
  transition: .25s all ease-in-out;
}

// FORM

.js-form-item {
  margin-bottom: 15px;

  input {
    margin-bottom: 0;
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  label {
    display: flex;
    margin-right: 0px;
    margin-left: 0;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      margin-right: 10px;
      margin-top: 5px;
      background-color: $primary-color;
      min-width: 16px;
      min-height: 16px;
      max-width: 16px;
      max-height: 16px;
    }
  }
  input {
    margin-top: 7px;
    display: none;


    &:checked {
      &+label {
        &:before {
          background-image: url("icons/checked.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
