.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  padding: $button-padding;
  border: 2px solid $body-font-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-size: rem-calc(14);
  background-color: $button-background;
  &:hover, &:focus {
    background-color: $body-font-color;
    color: $white;
  }
}

.burger-icon {
  @include burger(25px, 3px, 5px, $body-font-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}

/////
.paragraph--type--text-image {
  .button {
    text-transform: lowercase;
    background-color: $primary-color;
    color: $black;
    padding: 9px 18px 10px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $primary-color;
    font-weight: $global-weight-bold;
    font-size: 17px;
    transition: .25s all ease-in-out;
    margin: 0;
    &:hover, &:focus {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }
  }
}

.webform-submission-form {
  .button {
    text-transform: lowercase;
    background-color: $primary-color;
    color: $black;
    padding: 9px 32px 10px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $primary-color;
    font-weight: $global-weight-bold;
    font-size: 17px;
    transition: .25s all ease-in-out;
    margin: 0;
    &:hover, &:focus {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }
  }
}

.paragraph--type--text-slider .text-wrapper {
  a {
    text-transform: lowercase;
    background-color: $primary-color;
    color: $black;
    padding: 9px 18px 10px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $primary-color;
    font-weight: $global-weight-bold;
    font-size: 17px;
    transition: .25s all ease-in-out;
    margin: 25px 0 0;
    &:hover, &:focus {
      background-color: transparent;
      border-color: $black;
      color: $black;
    }
  }
}


