.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    // &.single-branch {
    //   display: flex;
    //   justify-content: center;
    // }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}
.page.full{
  &>header{
    &>figure{
      &>div.views-element-container{
        div.geolocation-common-map-container{
          width: 100%!important;
          height: 320px!important;
          @include breakpoint(mediumplus) {
            height: 650px!important;
          }
        }
      }
    }
  }
}
div.branding-white{
  background-image: url("data:image/svg+xml,%3Csvg width='161' height='57' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 57h161V0H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M15.4540888 34.1780935c0-2.9765273-2.4182432-5.3580462-5.403178-5.3580462-2.98558116 0-5.44153198 2.3815189-5.44153198 5.3580462 0 2.9765273 2.45595082 5.3580462 5.44153198 5.3580462 2.9849348 0 5.403178-2.3815189 5.403178-5.3580462zM0 24.8001334h4.91168616v2.0099569c1.51175214-1.4890063 3.5520573-2.3815189 6.04550024-2.3815189 5.1392247 0 9.3710964 4.316145 9.3710964 9.7495221 0 5.4323161-4.2318717 9.749522-9.3710964 9.749522-2.49344294 0-4.5337481-.8939979-6.04550024-2.3813067v10.5679769H0V24.8001334z' fill='%23FFF'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23FFF' mask='url(%23b)' d='M23.5808081 43.1571429h4.8787879v-28.5h-4.8787879zM48.1361509 34.1993644c0-2.9718957-2.3585855-5.3497088-5.3533571-5.3497088-3.0323451 0-5.3911441 2.3778131-5.3911441 5.3497088s2.358799 5.3874216 5.3911441 5.3874216c2.9947716 0 5.3533571-2.4155259 5.3533571-5.3874216m-15.6108984 0c0-5.4236514 4.2304245-9.770793 9.3218352-9.770793 2.6952518 0 4.7545309.9652782 6.13941 2.563411v-2.1184847h4.8670377v18.7256759h-4.5297309l-.1125068-2.4140429c-1.422666 1.7460179-3.5566649 2.7862979-6.36421 2.7862979-5.0914107 0-9.3218352-4.3107001-9.3218352-9.7720642M56.1060606 34.2c0-5.4455856 4.2504163-9.7714286 9.8685283-9.7714286 1.4047915 0 2.7720656.2981727 3.954704.8202939v5.4079418c-.9240218-1.1186792-2.3286025-1.8268925-3.954704-1.8268925-3.0308929 0-5.2486297 2.3868701-5.2486297 5.3700854s2.2177368 5.3322289 5.2486297 5.3322289c1.6261015 0 3.0306822-.7082132 3.954704-1.789036v5.4079418c-1.1826384.5221212-2.5499125.8202939-3.954704.8202939-5.618112 0-9.8685283-4.3269064-9.8685283-9.7714286M88.0832953 34.2c0-2.946635-2.3063152-5.2592808-5.1258409-5.2592808-2.9293502 0-5.2354566 2.3126458-5.2354566 5.2592808 0 2.9455716 2.3061064 5.2958612 5.2354566 5.2958612 2.8195257 0 5.1258409-2.3502896 5.1258409-5.2958612m-14.9014771 0c0-5.4455856 4.2102884-9.7714286 9.7756362-9.7714286 5.4920619 0 9.7395153 4.325843 9.7395153 9.7714286 0 5.4445222-4.2474534 9.7714286-9.7395153 9.7714286-5.5653478 0-9.7756362-4.3269064-9.7756362-9.7714286M101.581165 35.4923702v8.4790584h-4.8185387V24.8082275h4.8185387v2.7003067c1.12108-1.9396936 2.689273-3.0799628 5.079903-3.0799628.224302 0 .448603 0 .672265.0383776v4.828419c-2.875658-.5708935-5.752168.6079701-5.752168 6.1970022M124.570494 34.1993644c0-2.9718957-2.358799-5.3497088-5.353357-5.3497088-3.032558 0-5.391144 2.3778131-5.391144 5.3497088s2.358586 5.3874216 5.391144 5.3874216c2.994558 0 5.353357-2.4155259 5.353357-5.3874216m-15.610898 0c0-5.4236514 4.230424-9.770793 9.321622-9.770793 2.695251 0 4.754744.9652782 6.139623 2.563411v-2.1184847h4.867038v18.7256759h-4.529731l-.112507-2.4140429c-1.422666 1.7460179-3.556878 2.7862979-6.364423 2.7862979-5.091198 0-9.321622-4.3107001-9.321622-9.7720642M149.616162 25.8536243v-8.5498942l-7.318078-4.2751587-7.318286 4.2751587v8.5498942l7.318286 4.2749471z'/%3E%3Cpath fill='%23FFF' mask='url(%23b)' d='M142.704231 43.1571429l-7.340799-4.3298371v-6.4302495l7.340799 4.3289798 12.843041-7.5737859.00063-15.1475719-12.843671-7.5737859-12.843042 7.5737859v4.653439h-5.452098v-7.8688852L142.704231 0 161 10.7892321l-.000629 21.5784643zM64.4272405 56.6339164C64.3518517 56.8779024 64.2654898 57 63.9747044 57c-.3015552 0-.39889-.1220976-.452536-.3660836l-1.6920823-6.5088034c-.0107698-.0769382-.0321063-.1657934-.0321063-.232069 0-.1114349.0644158-.2216154.3228917-.2216154.2371394 0 .3338647.0876008.3881202.3209242l1.5089953 6.0871069 1.8318869-5.7210233c.0644158-.2333234.172114-.355421.441563-.355421.2694489 0 .3667838.1220976.4421726.355421l1.7674711 5.7210233 1.5734111-6.0871069c.0534427-.2214064.1288315-.3209242.3661741-.3209242.2371395 0 .3017584.0995178.3017584.2216154 0 .0662756-.0111762.1551308-.0323094.232069l-1.7353649 6.5088034c-.0644158.243986-.161141.3660836-.452536.3660836-.2905822 0-.3879171-.1220976-.4633059-.3660836l-1.7778345-5.7208142-1.853833 5.7208142zM76.8350018 56.4135995c1.749462 0 2.8963762-1.2174988 2.8963762-3.0777827 0-1.8588487-1.1469142-3.0765524-2.8963762-3.0765524-1.7501309 0-2.8963763 1.2177037-2.8963763 3.0765524 0 1.8602839 1.1462454 3.0777827 2.8963763 3.0777827m0-6.7421709c2.2104569 0 3.6649982 1.4569798 3.6649982 3.6643882S79.0454587 57 76.8350018 57c-2.2111257 0-3.6531836-1.4567748-3.6531836-3.6641832 0-2.2074084 1.4420579-3.6643882 3.6531836-3.6643882M84.2825867 53.6123961c1.5958126 0 2.3766178-.6314315 2.3766178-1.6936976 0-1.1294796-.8730212-1.6500714-2.1932682-1.6500714-.2636597 0-.5623875.0225437-.8377367.0663786v3.2444098c.2067283.0210825.4476588.0329806.6543871.0329806m3.5355951 3.1995312c0 .1219029-.0913501.1880727-.3212406.1880727-.2987278 0-.4017673-.0993591-.5506982-.3216648l-1.8603383-2.5347017c-.2526198.0329806-.5281853.0555242-.8266967.0555242-.1255522 0-.4589152-.0104369-.6310084-.0331893v2.5347018c0 .1999707-.1147287.2993298-.3448357.2993298-.2292412 0-.34397-.0993591-.34397-.2993298v-6.3988538c0-.2874318 0-.4318783.4015508-.5310287.2755656-.0663786.7466031-.0993591 1.1364645-.0993591 1.74496 0 2.9275325.7522906 2.9275325 2.2247262 0 1.0184312-.5742934 1.7494306-1.6187584 2.0925953l1.8252702 2.4459882c.1606203.2104076.2067283.2884755.2067283.377189M95.1363636 56.8218212c0 .1115973-.0784649.1781788-.3476993.1781788-.2239741 0-.3589085-.0559033-.5492549-.2897761l-3.2974328-3.4310411v3.4203629c0 .200582-.1127274.3004543-.336913.3004543-.235395 0-.3474878-.0998723-.3474878-.3004543v-6.7293379c0-.1993257.1120928-.2987792.3474878-.2987792.2241856 0 .336913.0994535.336913.2987792v3.1322619l3.2752258-3.1760214c.1677162-.1779694.3026506-.2550197.5268363-.2550197.235395 0 .3252807.0663721.3252807.1765038 0 .1118066-.100672.2340821-.2019786.3335356l-3.1855515 2.9980519 3.2532302 3.2982969c.1342999.1327442.2013441.2443415.2013441.3440044M100.205078 56.6339164c-.075391.243986-.161958.3660836-.4527495.3660836-.3015621 0-.398696-.1220976-.4523431-.3660836l-1.6921208-6.5088034c-.0109733-.0769382-.032107-.1657934-.032107-.232069 0-.1114349.0644172-.2216154.3226958-.2216154.237348 0 .3340755.0876008.3883322.3209242l1.5088264 6.0871069 1.832132-5.7210233c.064214-.2333234.172118-.355421.441573-.355421.269252 0 .366792.1220976.442182.355421l1.767512 5.7210233 1.573446-6.0871069c.053444-.2214064.128835-.3209242.366183-.3209242.237145 0 .301562.0995178.301562.2216154 0 .0662756-.010973.1551308-.032107.232069l-1.735404 6.5088034c-.064418.243986-.161145.3660836-.452547.3660836-.290588 0-.388129-.1220976-.463519-.3660836l-1.777672-5.7208142-1.853875 5.7208142zM112.211958 52.8730417c.195248 0 .293178.1024619.293178.3050472 0 .2036482-.09793.304622-.293178.304622h-2.602012v2.8967786h3.122741c.195248 0 .292566.1013989.292566.3050471 0 .214277-.097318.3154634-.292566.3154634h-3.415716c-.249222 0-.357375-.1133032-.357375-.3722213v-6.5841289c0-.258918.108153-.3722212.357375-.3722212h3.307563c.195248 0 .292361.1024618.292361.3048345 0 .2144896-.097113.3154634-.292361.3154634h-3.014588v2.5813152h2.602012zM120.228275 54.2839258l-1.493472-3.7359869-1.517423 3.7359869h3.010895zm1.741422 2.5158126c0 .1218711-.082502.2002616-.330232.2002616-.258152 0-.364163-.0890516-.43469-.2771888l-.740969-1.8408181h-3.49349l-.752724 1.8408181c-.082281.1881372-.176759.2771888-.434912.2771888-.235531 0-.318034-.0783905-.318034-.2002616 0-.0769272.035264-.1883463.070527-.2548214l2.705725-6.497005c.117322-.2771888.235087-.3764834.51697-.3764834.271017 0 .400536.0992946.505882.3764834l2.646732 6.497005c.023065.0664751.059215.1778942.059215.2548214zM125.752067 53.6123961c1.595813 0 2.376618-.6314315 2.376618-1.6936976 0-1.1294796-.872805-1.6500714-2.193268-1.6500714-.26366 0-.562388.0225437-.83752.0663786v3.2444098c.206511.0210825.447442.0329806.65417.0329806m3.535812 3.1995312c0 .1219029-.09135.1880727-.321457.1880727-.298728 0-.401768-.0993591-.550699-.3216648l-1.860121-2.5347017c-.252837.0329806-.528186.0555242-.826697.0555242-.125769 0-.458915-.0104369-.631008-.0331893v2.5347018c0 .1999707-.114946.2993298-.344836.2993298-.229458 0-.34397-.0993591-.34397-.2993298v-6.3988538c0-.2874318 0-.4318783.401551-.5310287.275349-.0663786.746603-.0993591 1.136464-.0993591 1.74496 0 2.927316.7522906 2.927316 2.2247262 0 1.0184312-.574077 1.7494306-1.618542 2.0925953l1.82527 2.4459882c.160621.2104076.206729.2884755.206729.377189'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 161px;
  height: 57px;
  background-size: 161px 57px;
}

////////
.webform-submission-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .form-item {
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
    @include breakpoint(mediumplus) {
      width: 50%;
    }
    &.js-form-type-textarea {
      width: 100%;
    }
    &.js-form-type-checkbox {
      width: 100%;
    }
  }
  input {
    line-height: 1;
    padding: 5px 8px;
  }
  input, textarea {
    background-color: $primary-color;
    color: $black;
    font-weight: $global-weight-bold;
    border: none;
    font-size: rem-calc(13);
    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }
  [type="text"],
  [type="email"],
  [type="tel"] {
    height: 30px;
    &:focus {
      background-color: $primary-color;
      border: none;
    }
  }
  textarea {
    height: 75px;
    margin-bottom: 0;
      color: $black;
  }
  .captcha {
    padding: 0 10px;
    height: 63px;
    @include breakpoint(medium down) {
      width: 100%;
    }
    @include breakpoint(mediumplus) {
      width: 244px;
    }
    .g-recaptcha {
      transform: scale(0.8);
      transform-origin: left top;
    }
  }
  .form-actions {
    padding-right: 10px;
    @include breakpoint(medium down) {
      padding-left: 10px;
      margin-top: 15px;
    }
    @include breakpoint(mediumplus) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}
///////
.section-contact {
   .page.full { 
     .grey-wrapper h1 {
      text-transform: none;
      font-weight: $global-weight-bold;
      font-size: 27px;
      line-height: 1.11;
      margin: 0;
     }
     .yellow-wrapper {
        a {
          color: $black;
          &:hover {
            color: $white;
          }
        }
        .main-contact-data {
          margin-bottom: 30px;
        }
        .field-name-field-extra-main-contact-fields {
          p {
            margin-bottom: 0;
          }
        }
     }
   }
  .paragraph--type--call-to-action {
    .field-name-field-form-title {
      width: 100%;
      padding: 0;
      h2 {
        margin-bottom: 24px;
      }
    }
  }
  .webform-submission-form .form-actions {
    @include breakpoint(mediumplus) {
      margin-left: 50px;
    }
  }

  .paragraph--type--text-slider {
    .text-wrapper {
      display: flex;
      align-items: center;
      background-color: $primary-color;
      background-image: url("../images/group-white.svg");
      background-repeat: no-repeat;
      background-position: left -65px bottom -100px;
      width: 100%;
      @include breakpoint(largemin down) {
        margin-bottom: 10px;
      }
      @include breakpoint(large) {
        width: 44.8%;
      }
    }
    .slider-wrapper {
      width: 100%;
      @include breakpoint(large) {
        width: 55.2%;
      }
    }
  }
}