.home.full {
  @include grid-row();
  @include grid-col-gutter();
  // h1 {
  //   font-size: rem-calc(16);
  //   margin-bottom: 0;
  // }
  // h2 {
  //   font-size: rem-calc(40);
  //   margin-bottom: 15px;
  // }
}
.home.full, .page.full {
	header {
		margin-bottom: 10px;
		position: relative;
    @include breakpoint(large) {
			margin-bottom: 20px;
    }
		&::after {
			content: "";
			display: block;
			background-image: url("../images/group-yellow.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			width: 135px;
			height: 157px;
			bottom: -78px;
			left: -67.5px;
      @include breakpoint(large) {
				width: 197px;
				height: 228px;
				bottom: -114px;
				left: -98.5px;
			}
		}
		figure {
			display: flex;
			flex-wrap: wrap;
			@include breakpoint(largemin down) {
				flex-direction: column-reverse;
			}
			.field-name-field-image, .views-element-container {
				width: 100%;
				@include breakpoint(large) {
					width: 65%;
					padding-right: 20px;
				}
				img {
					width: 100%;
				}
			}
			figcaption {
				background-color: $primary-color;
				width: 100%;
				@include breakpoint(largemin down) {
		    	margin-bottom: 10px;
		    }
				@include breakpoint(large) {
					width: 35%;
				}
			}
		}
	}

	.grey-wrapper {
		background-color: $white;
		padding-bottom: 10px;
		height: 172px;
		@include breakpoint(large) {
			height: 250px;
			padding-bottom: 20px;
		}
		.grey-wrapper-inner {
			background-color: $light-gray;
			height: 100%;
			display: flex;
			align-items: center;
		  padding: 30px;
      @include breakpoint(large) {
	   		padding: 60px 70px;
      }
      @include breakpoint(xlarge) {
        padding: 65px 108px;
      }
		}
		h1 {
			text-transform: uppercase;
		}
		h2 {
			margin-bottom: 0;
		}
	}
	.yellow-wrapper {
		min-height: calc(100% - 250px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	  padding: 30px;
    @include breakpoint(large) {
   		padding: 60px 70px;
    }
    @include breakpoint(xlarge) {
			padding: 65px 108px;
			padding-right: 50Px;
		}
	}
}


.section-schoenen{
	.page.full {
		.yellow-wrapper {
		  a {
		    text-transform: lowercase;
		    background-color: white;
		    color: $black;
		    padding: 9px 18px 10px;
		    line-height: 1;
		    display: inline-block;
		    text-decoration: none;
		    border: 1px solid black;
		    font-weight: $global-weight-bold;
		    font-size: 17px;
		    transition: .25s all ease-in-out;
		    margin: 0;

		    &:hover,
		    &:focus {
		      background-color: white;
		      border-color: $black;
		      color: $primary-color;
		    }
		  }
		}
}
}