.page.full {
  @include grid-row();
  @include grid-col-gutter();
  header {
    // figure {
    //   img {
    //     margin: 0 auto 30px auto;
    //     display: block;
    //     @include breakpoint(medium){
    //       margin: 0 auto 50px auto;
    //     }
    //     @include breakpoint(large){
    //       margin: 0 auto 80px auto;
    //     }
    //   }
    //   figcaption {
    //     @include grid-row();
    //     @include grid-col-gutter();
    //     margin-bottom: 30px;
    //     @include breakpoint(medium){
    //       margin-bottom: 50px;
    //     }
    //     @include breakpoint(large){
    //       margin-bottom: 80px;
    //     }
    //   }
    // }
  }
}