.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 10px;
      @include breakpoint(large) {
        margin-bottom: 20px;
      }
    }
  }
}

.paragraph--type--text-blocks {
  @include grid-col-gutter();
}
.field-name-field-text-blocks {
  @include grid-row();
  &>.field-items {
    @include breakpoint(medium){
      @include flex-grid-row('nest', $grid-row-width, null, true, true, $grid-column-gutter);
      flex-wrap: nowrap;
      justify-content: center;
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}

.paragraph--type--text-image {
  .paragraph-content {
    display: flex;
    flex-wrap: wrap;
    &>div {
      width: 100%;
      @include breakpoint(mediumplus down) {
        margin-bottom: 10px;
      }
      @include breakpoint(largemin) {
        width: 65%;
      }
    }
    &>figure {
      width: 100%;
      display: flex;
      @include breakpoint(largemin) {
        width: 35%;
      }
      > div {
        height: 100%;
        width: 100%;
        padding: 0 0 97%;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
      }
      img {
        width: 100%;
      }
    }
    .paragraph-text-inner {
      background-color: $light-gray;
      display: flex;
      align-items: center;
      padding: 60px 30px;
      height: 100%;
      @include breakpoint(mediumplus) {
        padding: 60px 70px;
      }
      @include breakpoint(xlarge) {
        padding: 65px 108px;
      }
      > div {
        width: 100%;
      }
      h3 {
        margin-bottom: 15px;
      }
      blockquote {
        padding: 15px 0;
        border: none;
      }
      blockquote, blockquote p {
        font-size: 20px;
        color: #000;
        line-height: 1.5;
      }
    }
  }

  &.option-image-right {
    @include breakpoint(largemin) {
      .paragraph-content >div {
        padding-right: 20px !important;
      }
    }
  }

  &.option-image-left {
    .paragraph-content {
      @include breakpoint(largemin){
        flex-direction: row-reverse;
      }
    }
    @include breakpoint(largemin){
      .paragraph-content >div {
        padding-left: 20px !important;
      }
    }
  }
}


.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-contact-data {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium){
        padding: 30px 15px;
      }
      @include breakpoint(large){
        padding: 30px 60px;
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }

      &>.field-items > .field-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          margin-bottom: 0;
        }
        @include breakpoint(smallplus){
          flex-wrap: unset;
          flex-direction: row;
        }
        .main-contact-data, .field-name-field-branches {
          text-align: center;
          @include breakpoint(smallplus) {
            text-align: left;
            flex: 1 0 50%;
          }
        }
        .main-contact-data{
          @include breakpoint(smallplus){
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-branches {
          @include breakpoint(smallplus){
            padding-left: 15px;
            text-align: left;
          }
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large){
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--slider{
  .swiper-container{
  width: 100%;
  height: 100%;
  }
  .swiper-slide{
    width: auto;
    img{
      max-height: 440px;
      width: auto;
    }
  }
}



.paragraph {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
////////////paragraph--type--text-slider
.paragraph--type--text-slider {
  display: flex;
  flex-wrap: wrap;
  h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 28px;
  }
  .text-wrapper {
    background-color: $light-gray;
    padding: 60px 70px;
    width: 100%;
    @include breakpoint(large) {
      width: 35%;
      padding: 60px 15px 60px 70px;
    }
    @include breakpoint(xlarge) {
      padding: 65px 15px 65px 108px;
    }
    .field-name-field-text {
      @include breakpoint(large) {
        max-width: 193px;
      }
    }
  }
  .slider-wrapper {
    width: 100%;
    @include breakpoint(large) {
      padding-left: 20px;
      text-align: right;
      width: 65%;
    }
    > div {
      height: 100%;
      > .field-items {
        height: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


/////////////////paragraph--type--textblock-links
.paragraph--type--textblock-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @include breakpoint(largemin down) {
    flex-direction: column-reverse;
  }
  > div {
    padding: 0 10px;
    width: 100%;
    @include breakpoint(large) {
      width: 50%;
    }
  }
  .field-name-field-link-image {
    >.field-items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;
      @include breakpoint(large) {
        margin: 0 -8px;
      }
      >.field-item {
        padding: 0 6px;
        width: 100%;
        @include breakpoint(largemin down) {
          margin-top: 10px;
        }
        @include breakpoint(mediumplus) {
          width: 50%;
        }
        @include breakpoint(large) {
          padding: 0 8px;
        }
      }
    }
  }
  .text-wrapper {
    position: relative;
    .field-name-field-logo {
      position: absolute;
      top: 10px;
      right: 0;
      @include breakpoint(xlarge) {
        top: 15px;
      }
      img {
        max-width: 142px;
        background-color: $medium-gray;
        padding: 8px 15px;
      }
    }
    h3 {
      margin-bottom: 15px;
    }
    .field-name-field-text {
      background-color: $primary-color;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 74px 30px 50px;
      @include breakpoint(large) {
        padding: 60px 70px;
      }
      @include breakpoint(xlarge) {
        padding: 65px 108px;
      }
    }
  }
}

.path-frontpage {
  @include breakpoint(mediumplus) {
    .paragraph--type--link-image {
      &::after {
        background-image: url("../images/fill-white.svg");
      }
      .field-paragraph--field-image {
        position: relative;
        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($black, .6);
          opacity: 0;
          visibility: hidden;
          transition: .25s all ease-in-out;
        }
      }
      &:hover {
        &::after {
          right: 18px;
          background-image: url("../images/fill-white.svg");
          color: $black;
        }
        .field-paragraph--field-image {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
        .field-name-field-link {
          a {
            background-color: $black;
            color: $white;
            font-size: 26px;
            padding: 10px 24px;
          }
        }
      }
    }
  }
}

.paragraph--type--link-image {
    position: relative;
    &::after {
      content: "+";
      display: block;
      width: 31px;
      height: 36px;
      background-image: url("../images/fill-white.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-align: center;
      position: absolute;
      bottom: 13px;
      right: 30px;
      font-size: 28px;
      font-weight: $global-weight-bold;
      line-height: 33px;
      transition: .25s all ease-in-out;
      color: $black;
    }
    .field-paragraph--field-image {
      img {
        width: 100%;
      }
    }
    .field-name-field-link {
      a {
        text-decoration: none;
        color: $black;
        font-size: 20px;
        font-weight: $global-weight-bold;
        background-color: $primary-color;
        padding: 10px 30px;
        text-transform: lowercase;
        min-height: 64px;
        display: flex;
        align-items: center;
        &::after {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &:hover {
      &::after {
        background-image: url("../images/fill-yellow.svg");
        color: $white;
      }
      .field-name-field-link {
        a {
          background-color: $light-gray;
        }
      }
    }
}


//////////////paragraph--type--call-to-action
.paragraph--type--call-to-action {
  display: flex;
  flex-wrap: wrap;
  .field-name-field-text {
    width: 100%;
    @include breakpoint(largemin down) {
      margin-bottom: 10px;
    }
    @include breakpoint(large) {
      width: 44.8%;
    }
    > .field-items {
      background-color: $primary-color;
      height: 100%;
      background-image: url("../images/group-white.svg");
      background-repeat: no-repeat;
      background-position: left -65px bottom -100px;
      padding: 60px 30px;
      @include breakpoint(mediumplus) {
        padding: 60px 70px;
      }
      @include breakpoint(xlarge) {
        padding: 65px 108px;
      }
    }
    h3 {
      margin-bottom: 20px;
    }
  }
  .field-name-field-form-title {
    width: 100%;
    @include breakpoint(large) {
      padding-left: 20px;
      width: 55.2%;
    }
    > .field-items {
      background-color: $light-gray;
      background-image: url("../images/group-yellow.svg");
      background-repeat: no-repeat;
      background-position: right -100px top -100px;
      padding: 60px 30px;
      @include breakpoint(mediumplus) {
        padding: 60px 70px;
      }
      @include breakpoint(xlarge) {
        padding: 65px 108px;
      }
    }
    h2 {
      @include breakpoint(largemin down) {
        margin-bottom: 25px;
      }
    }
  }
}


///////////paragraph--type--summary
.paragraph--type--summary {
  background-color: $primary-color;
  background-image: url("../images/group-white.svg"), url("../images/group-white.svg");
  background-position: left -65px bottom -100px, right -100px top -115px;
  background-repeat: no-repeat, no-repeat;
  padding: 60px 30px;
  @include breakpoint(mediumplus) {
    padding: 60px 70px;
  }
  @include breakpoint(xlarge) {
    padding: 65px 108px;
  }
  .field-name-field-title {
    font-weight: $global-weight-bold;
    font-size: 27px;
    line-height: 1.11;
    margin-bottom: 25px;
  }
  .field-name-field-links {
    padding: 0 0 40px;
    @include breakpoint(mediumplus) {
      padding: 40px 0;
    }
    >.field-items {
      display: flex;
      flex-wrap: wrap;
      >.field-item {
        text-align: center;

        padding: 20px 15px;
        width: 100%;
           border-bottom: 1px solid $white;
        @include breakpoint(mediumplus) {
          width: 25%;
          border-right: 1px solid $white;
        }
        &:nth-child(4), &:nth-child(8) {
          @include breakpoint(mediumplus) {
            border-right: none;
          }
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          @include breakpoint(mediumplus) {
     border-bottom: 1px solid $white;
          }
        }
         &:nth-child(9) {
           @include breakpoint(mediumplus) {
             border-bottom: none;
           }
         }
             &:nth-child(10) {
               @include breakpoint(mediumplus) {
                 border-bottom: none;
               }
             }
        &:last-child {
          @include breakpoint(medium down) {
            border-bottom: none;
          }
        }
      }
    }
  }
  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $white;
    }
  }
}